bin/
obj/

.vs/
.vscode/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.v3.ncrunchsolution.user

# Paket dependency manager
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# Ionide cache
.ionide/

# Paket tool store
.paket/.store
.paket/paket

~$*.pptx
